In [3]:
import json

path = './TFeed_Timetables/2018_baku/timetable_102.json'
with open(path, 'r') as f: data = json.load(f)

In [52]:
import os

folder = './TFeed_Timetables/'
race_folders = os.listdir(folder)

In [57]:
c, files_pr = 0, []

for rf in race_folders:
    if 'ipynb' in rf: continue
    rf = folder + rf
    data_files = os.listdir(rf)
    files_pr.append(len(data_files))
    for df in data_files:
        if 'ipynb' in df: continue
        c += 1

In [85]:
import numpy as np
from scipy import stats

n_fp = np.array(files_pr)
z = np.abs(stats.zscore(n_fp))
outliers = list(np.where(z > 2))
for o in sorted(outliers, reverse=True):
    n_fp = np.delete(n_fp, o)

In [65]:
folder = './LiveTiming_Data/'
lt_files = os.listdir(folder)

In [90]:
all_keys, nr_messages, nr_files = {}, [], 0

for lf in lt_files:
    if 'ipynb' in lf: continue
    nr_files += 1
    with open(folder + lf, 'r') as f: data = json.load(f)
    c = 0
    for key in data:
        for msg_obj in data[key]:
            c += 1
            for k in msg_obj.keys():
                if k not in all_keys:
                    all_keys[k] = [msg_obj[k]]
                else:
                    if msg_obj[k] not in all_keys[k]:
                        if k == 'message': continue
                        all_keys[k].append(msg_obj[k])
    nr_messages.append(c)

# all_keys
nr_files

120

In [87]:
n_msg = np.array(nr_messages)
z = np.abs(stats.zscore(n_msg))
outliers = list(np.where(z > 2))
for o in sorted(outliers, reverse=True):
    n_msg = np.delete(n_msg, o)

In [88]:
np.mean(n_msg)

80.55855855855856

In [86]:
np.mean(n_fp)

180.5132743362832

In [50]:
for driver in data:
    if driver == 'version': continue
    d_data = data[driver]
    keys = list(d_data.keys())
    if d_data['best_time'] != 0: print(d_data['best_time'])
    # break

64
65
64
64
64
64
16
66
2

In [14]:
n_data = {}

for k in d_data: n_data[k] = str(d_data[k])

In [34]:
import pandas as pd

# d_list = [(k, v) for k, v in dict.items()]
pd.DataFrame(data=n_data.items(), columns=['key', 'value'])

                key                      value
0           updated                          0
1             state                          0
2               lap                         27
3          lap_time                    109.087
4          position                         16
5               gap                         -1
6          interval                      5.438
7              pits                          2
8         best_time                          0
9     driver_number                          2
10            speed                         90
11             gear                          3
12    gear_switches                       1885
13              drs                          0
14          lap_pos                     0.2532
15       engine_rpm                       7000
16    tyre_compound  [[1, 17], [2, 8], [7, 2]]
17        start_pos                         16
18           points                          6
19      speed_traps       [199, 208, 305, 302]
20  max_speed_traps       [200, 211, 323, 316]
21               s1                     38.591
22               s2                     43.932
23               s3                     26.564